.animate {
    animation: slideFromBottom 1s ease-in-out;
}

.animate-out {
    animation: slideToTopAndOut 0.5s ease-in-out;
}

/*.wrapper:hover .image-wrapper{*/
/*    !*top: 50%;*!*/
/*    h;*/
/*    !*animation: slideFromBottom 1s ease-out;*!*/
/*    transform: translateY(100%);*/
/*    transition: opacity 1s ease-out, transform 1s ease-out;*/
/*}*/

/*.wrapper:hover button {*/
/*    display: block;*/
/*}*/

/*button {*/
/*    display: none;*/
/*}*/

@keyframes slideFromBottom {
    from {
        transform: translateY(0%);
        opacity: 0;
    }
    to {
        transform: translateY(100%);
        opacity: 1;
    }
}

/*@keyframes slideToTopAndOut {*/
/*    from {*/
/*        transform: translateY(0);*/
/*        opacity: 1;*/
/*    }*/
/*    to {*/
/*        transform: translateY(-100%);*/
/*        opacity: 0;*/
/*    }*/
/*}*/

.App {
    display: flex;
    height: 70vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 5rem;
}

img {
    border-radius: 100%;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding: 3rem;
}

.text {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    background-color: white;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.heading {
   color: #0D0E14;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem; /* 128.571% */
}

button {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.description {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0175rem;
    margin-top: 1rem;
    max-width: 17.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    transition: opacity 1s ease-out, transform 1s ease-out;
    /*transform: translateY(0);*/
    opacity: 1;
    /*display: block;*/
}

.wrapper:hover .image-wrapper {
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out, display 0s 1s;
    /* Delay the display property change until after the animation is complete */
}

.wrapper:hover .text {
    transform: translateY(-50%);
    transition: 1s ease-out, transform 1s ease-out;
}

.wrapper:hover button {
    opacity: 10;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

